<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="Login_Demo_Shop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="Login_Demo_Shop.Properties.Settings.Setting" connectionString="Data Source=LAPTOP-LL7MF4G0\MSSQL_APPOINT;Initial Catalog=westlake;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework, Version=v4.8" />
	</startup>	
 <userSettings>
  <Login_Demo_Shop.Properties.Settings>
   <setting name="Setting1" serializeAs="String">
    <value>False</value>
   </setting>
  </Login_Demo_Shop.Properties.Settings>
 </userSettings>
</configuration>
